@using CapaNavDoc.ViewModel.User
@model UserListViewModel

@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

@section TitleSection
{
    Utilisateurs
}

@section HeaderSection
{
    <link href="~/Content/datatables.css" rel="stylesheet"/>
    <link href="~/Content/MyDataTableStyle.css" rel="stylesheet" />

    <script src="~/Scripts/datatables.js"></script>
    <script src="~/Scripts/Validations.js"></script>
    <script src="~/Scripts/Dialog.js"></script>
    <script src="~/Scripts/MyDataTable.js"></script>

    <script>
        $(function() {
            SetDataTable(
                "UserDataTable",
                "/User/AjaxHandler",
                4,
                "@Url.Action("GetUserUpdateView")",
                "Mise à jour d*un utilisateur",
                380,
                "@Url.Action("GetConfirmationView")",
                "Suppression d*un utilisateur",
                460
            );
            document.getElementById("AdministrationLink").className += "ActiveLink";
        });
    </script>
}

@section ContentBody
{
    <div class="PageTitle">
        Gestion des utilisateurs.
    </div>

    <div style="padding: 15px;">
        <table id="UserDataTable" class="display MyDataTable">
            <thead>
            <tr>
                <th>ID</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Identifiant</th>
                <th>Mot de passe</th>
                <th>Mod.</th>
                <th>Sup.</th>
            </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
            <tr>
                @*<td><input id="col1" type="text" style="width: 100%;"/></td>
                <td><input id="col2" type="text" style="width: 100%;"/></td>*@
                <td colspan="7"><button id="AddUserButton" type="button" onclick="ShowDialog('Ajout d\'un utilisateur', 380, '@Url.Action("GetUserInsertView")', 'EditForm', 'UserDataTable');">Ajouter un utilisateur</button></td>
            </tr>
            </tfoot>
        </table>
    </div>

    <script>
        $("#AddUserButton").button();
    </script>
}