@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

@section TitleSection
{
    Accueil
}

@section HeaderSection
{}

@section ContentBody
{
    @* ReSharper disable Html.PathError *@
    <form id="WelcomeForm" action="/Welcome/InitializeDatabase" method="post">
        <input type="submit" value="Init DB"/>
    </form>
}

