@* ReSharper disable Html.PathError *@

@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

@section TitleSection
{
    Accueil
}

@section HeaderSection
{
    <script>
        $(document).ready(function() {
                document.getElementById("AdministrationLink").className += "ActiveLink";
            });
    </script>
}

@section ContentBody
{
    <form action="/Welcome/InitializeDatabase" method="post">
        <input type="submit" value="Init DB"/>
    </form>

    <form action="/Welcome/GeneratePdfTest" method="post">
        <input type="submit" value="Test PDF"/>
    </form>
}

