.ConfirmationFormTable {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
}

.ConfirmationFormTable td {
    padding-bottom: 5px;
    text-align: center;
}

.ConfirmationFormTable input[type="submit"] {
    width: 100px;
    margin-top: 20px;
}

