.EditFormTable {
    width: 100%;
}

.EditFormTable td {
    padding-bottom: 5px;
}

.EditFormTable td:last-child {
    width: 208px;
}


.EditFormTable input[type="text"] {
    width: 200px;
}

.EditFormTable input[type="number"] {
    width: 200px;
}

.EditFormTable input[type="submit"] {
    width: 200px;
}

.EditFormTable input[type="button"] {
    width: 204px;
}

.EditFormTable button {
    width: 204px;
}

.EditFormTable select {
    width: 204px;
}

.EditFormTable span {
    color: red;
    font-size: 12px;
}

.ui-selectmenu-button span {
    color: black;
    font-size: 15px;
}

