.EditFormTable {
    margin: 10px;
    width: 100%;
}

.EditFormTable td {
    padding-bottom: 5px;
}

.EditFormTable td:first-child {
    padding-right: 15px;
}

.EditFormTable input[type="text"] {
    width: 200px;
}

.EditFormTable input[type="number"] {
    width: 200px;
}

.EditFormTable input[type="submit"] {
    width: 100px;
}

.EditFormTable input[type="button"] {
    width: 100px;
}

.EditFormTable select {
    width: 204px;
}

.EditFormTable label {
    color: red;
    font-size: 12px;
    display: none;
}

