/* ReSharper disable CssBrowserCompatibility */

.GridViewTable {
    border: 1px solid lightgray;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border-collapse: collapse;
    margin: auto;
}

.GridViewTable th {
    background-color: #ddd;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid gray;
}

.GridViewTable tr:last-child {
    background-color: #ddd;
}

.GridViewTable tr:hover {
    background-color: #a9a9a9;
}

.GridViewTable tr:last-child:hover {
    background-color: #ddd;
}

.GridViewTable tr:last-child td {
    border-top: 1px solid gray;
    text-align: right;
}

.GridViewTable td {
    border-top: 1px solid #ddd;
    padding: 5px;
    border-left: 1px solid #ddd;
}


.UsersTable td:nth-child(5) {
    text-align: center;
}

.UsersTable td:nth-child(6) {
    text-align: center;
}

.TransfertUserTable-Right td {
    text-align: left;
    width: 120px;
}

.TransfertUserTable-Right td:first-child {
    width: 120px;
}

.TransfertUserTable-Right td:first-child {
    text-align: center;
}


.CentersTable td:nth-child(1) {
    -moz-min-width: 90px;
    -ms-min-width: 90px;
    -o-min-width: 90px;
    -webkit-min-width: 90px;
    min-width: 90px;
}

.CentersTable td:nth-child(2) {
    text-align: center;
    -moz-min-width: 90px;
    -ms-min-width: 90px;
    -o-min-width: 90px;
    -webkit-min-width: 90px;
    min-width: 90px;
}

.CentersTable td:nth-child(3) {
    text-align: center;
    -moz-min-width: 90px;
    -ms-min-width: 90px;
    -o-min-width: 90px;
    -webkit-min-width: 90px;
    min-width: 90px;
}

.CentersTable td:nth-child(4) {
    text-align: center;
    -moz-min-width: 90px;
    -ms-min-width: 90px;
    -o-min-width: 90px;
    -webkit-min-width: 90px;
    min-width: 90px;
}

.TransfertCenterUserTable-Left td {
    text-align: left;
    width: 120px;
}

.TransfertCenterUserTable-Left td:first-child {
    width: 120px;
}

.TransfertCenterUserTable-Left td:last-child {
    text-align: center;
}


.ActionsTable td:nth-child(2) {
    text-align: center;
}

.ActionsTable td:nth-child(3) {
    text-align: center;
}


