body, html {
    margin: 0;
    padding: 0;
    height: 99%;
    font-family: Calibri;
}


.LoginTable {
    border: 1px solid #ddd;
    -ms-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 300px;
    height: 100px;
    background-color: #f3f3f3;
    position: fixed;
    margin-left: -150px;
    margin-top: -50px;
    left: 50%;
    top: 50%;
}

.DialogBox {
    border: 1px solid #bbb;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #eee;
    box-shadow: 10px 10px 15px #888;
}

.Dialog-NoTitleBar {
    display: none;
}


.PageTitle {
    color: gray;
    font-size: 20px;
    -webkit-font-variant: small-caps;
    -moz-font-variant: small-caps;
    -ms-font-variant: small-caps;
    -o-font-variant: small-caps;
    font-variant: small-caps;
    padding: 0 0 20px 20px;
}

.PageGridView {
    
}


.GridViewTransfertTable {
    width: 100%;
}

.GridViewTransfertTable td {
    text-align: center;
    vertical-align: top;
    padding-bottom: 15px;
}

.GridViewTransfertTable tr:first-child {
    font-weight: bold;
}

.GridViewTransfertTable td:first-child {
    width: 49%;
}

.GridViewTransfertTable td:last-child {
    width: 49%;
}
