@* ReSharper disable Html.PathError *@
@using CapaNavDoc.ViewModel.Center
@model CenterEditionViewModel


<link href="~/Content/EditFormStyle.css" rel="stylesheet" />

<form id="EditForm" action="/Center/EditCenter" method="post">
    @Html.HiddenFor(m => m.EditionMode)
    @Html.HiddenFor(m => m.Id)
    <table class="EditFormTable">
        <tr>
            <td>
                Code:
            </td>
            <td>
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </td>
        </tr>
    </table>
</form>

<script>
    $("input").input();
</script>


