@* ReSharper disable Html.PathError *@
@using CapaNavDoc.ViewModel.Center
@model CenterListViewModel

@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

@section TitleSection
{
    Ateliers
}

@section HeaderSection
{
    <link href="~/Content/datatables.css" rel="stylesheet"/>
    <link href="~/Content/MyDataTableStyle.css" rel="stylesheet" />

    <script src="~/Scripts/datatables.js"></script>
    <script src="~/Scripts/Validations.js"></script>
    <script src="~/Scripts/Dialog.js"></script>
    <script src="~/Scripts/MyDataTable.js"></script>
    
    <script>
        $(function() {
            SetMasterDataTable(
                "CenterDataTable",
                "/Center/AjaxHandler",
                1,
                "@Url.Action("GetCenterUpdateView")",
                "Mise à jour d*un atelier",
                380,
                "@Url.Action("GetConfirmationView")",
                "Suppression d*un atelier",
                460,
                "@Url.Action("GetCenterUsersView")"
            );
            document.getElementById("AdministrationLink").className += "ActiveLink";
        });
    </script>
}

@section ContentBody
{
<div class="PageTitle">
    Gestion des ateliers.
</div>

    <div style="padding: 15px;">
        <table id="CenterDataTable" class="display MyDataTable">
            <thead>
            <tr>
                <th>ID</th>
                <th>Détail</th>
                <th>Nom</th>
                <th>Mod.</th>
                <th>Sup.</th>
            </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
            <tr>
                <td colspan="5"><button id="AddCenterButton" type="button" onclick="ShowDialog('Ajout d\'un atelier', 380, '@Url.Action("GetCenterInsertView")', 'EditForm', 'CenterDataTable');">Ajouter un atelier</button></td>
            </tr>
            </tfoot>
        </table>
    </div>

    <script>
        $("#AddCenterButton").button();
    </script>
}




