@* ReSharper disable Html.PathError *@
@using CapaNavDoc.ViewModel.ActivityField
@model ActivityFieldEditionViewModel

<link href="~/Content/EditFormStyle.css" rel="stylesheet" />

<form id="EditForm" action="/ActivityField/EditActivityField" method="post">
    @Html.HiddenFor(m => m.EditionMode)
    @Html.HiddenFor(m => m.Id)
    <table class="EditFormTable">
        <tr>
            <td>
                Description:
            </td>
            <td>
                @Html.TextBoxFor(m => m.Description)
                @Html.ValidationMessageFor(m => m.Description)
            </td>
        </tr>
    </table>
</form>

<script>
    $("input").input();
</script>
