<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://aerokomput.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webmatrix8525.dadapro.com</MSDeployServiceURL>
    <DeployIisAppPath>cf9a0c31b.hostnd</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>webmatrixadm@aerokomput.com</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CapaNavDocDal" Order="1" Enabled="False">
          <Destination Path="Data Source=hostingmssql07;Initial Catalog=aerokomput_com_wmx00;User ID=aerokomput_com_wmx00;Password=Mydearlydie__1" Name="server=hostingmssql07; uid=aerokomput_com_wmx00; password=Mydearlydie__1; database=aerokomput_com_wmx00" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CapaNavDoc.DataAccessLayer.CapaNavDocDal, CapaNavDoc" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CapaNavDocDal-Web.config Connection String">
      <ParameterValue>server=hostingmssql07; uid=aerokomput_com_wmx00; password=Mydearlydie__1; database=aerokomput_com_wmx00</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>