@* ReSharper disable Html.PathError *@
@using CapaNavDoc.ViewModel.Equipment
@model EquipmentCenterActionViewModel

<link href="~/Content/CenterActionsStyle.css" rel="stylesheet" /> 
    
<form id="EditForm" method="post" action="/Equipment/UpdateEquipmentCenters">
    <input type="hidden" name="EquipmentId" value="@Model.EquipmentId"/>
    <table class="CenterActionsTable">
        <tr>
            <td></td>
            @foreach (string actionName in Model.ActionNames)
            {
                <td>
                    @actionName
                </td>
            }
        </tr>
        @for (int i = 0; i < Model.CenterNames.Length; i++)
        {
            <tr>
                <td>
                    @Model.CenterNames[i]
                </td>
                @for (int j = 0; j < Model.ActionNames.Length ; j++)
                {
                    <td>
                        @Html.CheckBoxFor(m => m.Selections[i][j])
                    </td>
                }
            </tr>
        }
    </table>
</form>
