@* ReSharper disable Html.PathError *@

@using CapaNavDoc.ViewModel
@model EquipmentCenterViewModel

<form>
    <table>
        <tr>
            @foreach (string actionDescription in Model.ActionDescriptions)
            {
                <th>
                    @actionDescription
                </th>
            }
        </tr>
    </table>
</form>