@* ReSharper disable once Html.PathError *@
@using CapaNavDoc.ViewModel
@model ConfirmationViewModel

<link href="~/Content/ConfirmationFormStyle.css" rel="stylesheet" />

<form id="ConfirmationForm" action="/@Model.Controler/@Model.Action" method="post">
    @Html.HiddenFor(m => m.Id)
    <table class="ConfirmationFormTable">
        <tr>
            <td>
                @Model.ConfirmationMessage
            </td>
        </tr>
    </table>
</form>