@using CapaNavDoc.ViewModel
@model ConfirmationViewModel

<link href="~/Content/ConfirmationFormStyle.css" rel="stylesheet" />

@* ReSharper disable once Html.PathError *@
<form id="ConfirmationForm" action="/User/DeleteUser" method="post">
    <input id="UserId" type="hidden" name="Id" value="@Model.Id"/>
    <table class="ConfirmationFormTable">
        <tr>
            <td colspan="2">
                @Model.ConfirmationMessage
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="dialogResult" value="Non"/>
            </td>
            <td>
                <input type="submit" name="dialogResult" value="Oui"/>
            </td>
        </tr>
    </table>
</form>