@* ReSharper disable once Html.PathError *@
@using CapaNavDoc.ViewModel
@model ErrorMessageViewModel

<link href="~/Content/ConfirmationFormStyle.css" rel="stylesheet" />

<div id="ErrorMessage">
    <table class="ErrorMessageFormTable">
        <tr>
            <td>
                @Model.ErrorMessage
            </td>
        </tr>
    </table>
</div>