@* ReSharper disable Html.PathError *@

@using CapaNavDoc.ViewModel
@model MyLayoutViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@RenderSection("TitleSection")</title>

    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/NavigationBarStyle.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">

    <link href="~/Content/Theme/Base/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/Extensions.js"></script>

    @RenderSection("HeaderSection", false)
</head>
<body>
    <div class="NavBarBackground">
        <ul class="NavigationBar">
            <li id="AdministrationListItem">
                <a id="AdministrationLink" href="/Welcome/Index">Administration</a>
                <ul>
                    <li><a href="/User/Index">Utilisateurs</a></li>
                    <li><a href="/Action/Index">Actions</a></li>
                    <li><a href="/Center/Index">Centres</a></li>
                    <li><a href="/Equipment/Index">Equipements</a></li>
                    <li><a href="/MaintenanceData/Index">Données d'entretien</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div>
        @RenderSection("ContentBody")
    </div>
</body>
</html>
